*{
    margin:0px;
    font-family: 'Poppins', sans-serif;
}
header {
  color: #294c65;  
  background-color:#ffffff;
  min-height: 10vh;
}
section{
    min-height: 80vh;
    background-color: #294c65;  
    color:#ffffff;
    overflow: auto;
}
footer{
    min-height: 10vh;
    background-color: #294c65;  
  color:#ffffff;
}
@media only screen and (max-width:600px){
  h2{
    font-size: 1.5rem !important;
  }
  img{
    width:50%;
  }
  #searchForm{
    flex-direction: column;
  }
  #searchForm input, #searchForm select, #searchForm button{
    border-radius:5px !important;
    margin-top:5px !important;
  }
}
